# Puerto en el que nuestro server Express escucha peticiones
SERVER_PORT=3000

# Datos de conexion a la base de datos
DB_DIALECT=mysql
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=escomonitor

# Llave de la sesion
SESSION_SECRET=sessionsecret