extends layout

block content
  .page-header
    h3 Totalplay TV
    hr

  div.col-12.mb-3
    form.row.gy-3.align-items-center#changeChannel(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      div.col-sm-12.col-xs-12.col-md-3.col-12
        div#livemessages.alert.alert-secondary.text-center.text-weight-bold.text-wrap.fw-bolder.my-0 Cargando...
      div.col-sm-6.col-xs-6.col-md-3.col-6 
        select.form-select.form-select-lg(name='category', id='category', autofocus=true)
          option(value="", disabled="disabled", selected="selected") Categorias...
      div.col-sm-6.col-xs-6.col-md-3.col-6 
        select.form-select.form-select-lg(name='channel', id='channel', placeholder="Canal", autofocus=true)
          option(value="",  disabled="disabled", selected="selected") Canales... 
      div.col-sm-12.col-xs-12.col-md-3.col-12.d-grid.gap-2
        button.btn.btn-lg.btn-outline-primary(type='submit')
          i.fa.fa-tv
          | Ver
        
  div.col-12
      div.ratio.ratio-16x9
        video.ratio-item#videoVideo.videoTV1(autoplay controls)

append scripts
  script(async, defer,).
    var doHeartbeat = true;
    var loadChannels = true;
    var categories = null;
    var categorySelected = -1;
    function heartbeat(){
      if(doHeartbeat){
        $.get("/api/v1/totalplay/heartbeat", function( data ) {
          if(loadChannels){
            $("#category").html($("<option>", { 'text': 'Categorias...', 'value': '', 'disabled': 'disabled', 'selected': 'selected' }));
            $.get("/api/v1/totalplay/channels", function( data ) {
              $("#category").html('');
              $(data.perCategories).each(function(i, e){
                var option = $("<option>", {
                  'text': e.name,
                  'value': e.categoryId
                });
                $("#category").append(option);                
              });
              categories = data;
              loadChannels = false;
              $("#category").trigger('change');
              displayMessage('LISTO', 'alert-success');
            }).fail(function() {
              displayMessage('Error al mostrar canales...', 'alert-danger');
              loadChannels = true;              
            });
          }
        }).fail(function() {
          displayMessage('Restaurando sesión...', 'alert-info');
          doHeartbeat = false;
          $.get("/api/v1/totalplay/login", function( data ) {
            displayMessage('Sesión restaurada...', 'alert-success');
            doHeartbeat = true;       
          }).fail(function() {
            displayMessage('Error al iniciar sesión...', 'alert-danger');
            doHeartbeat = true;              
          });
        });
      }        
    }

    function displayMessage(text = '', color = 'alert-primary'){
      $('div#livemessages').removeClass (function (index, css) {
        return (css.match (/(^|\s)alert-\S+/g) || []).join(' ');
      });
      $('div#livemessages').toggleClass(color, true).text(text);
    }

    $('#category').on('change', function (e) {
      $("#channel").html($("<option>", { 'text': 'Canales...', 'value': '', 'disabled': 'disabled', 'selected': 'selected' }));
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;
      if(categories != null){
        $(categories.perCategories).each(function(i, e){
          if(e.categoryId == valueSelected){
            $("#channel").html('');
            $(e.channels).each(function(e, i){
              var option = $("<option>", {
                'text': i,
                'value': i
              });
              $("#channel").append(option);
            });
          }
        });
        
      }
    });

    $(document).ready(function(){
      heartbeat();
      setInterval(heartbeat, 10000);
    });
    try {        
      var adelante = 0;
      $("#changeChannel").submit(function(e){
        e.preventDefault();
        var category = $('select#category option').filter(':selected').val();
        var channel = $('select#channel option').filter(':selected').val();
        displayMessage('Cargando canal', 'alert-info');
        $.post('/api/v1/totalplay/live/' + category + '/' + parseInt(channel), function( data ) {
          OpenHls('/api/v1/totalplay/live/cache', adelante);    
          displayMessage('EN VIVO', 'alert-danger');
        }).fail(function() {
          displayMessage('Error al cargar canal', 'alert-danger');
        });
        
      });
    } catch (err) {
      QuitarEsperaPLUGIN();
    }